Repository jhoacar/chat-express-react-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix:client, npm run lint:fix:server

.lintstagedrc.json:

{
    "client/**/*.{ts,tsx}": "npm run lint:fix:client",
    "server/**/*.ts": "npm run lint:fix:server"
}

added pre-commit
  .husky/pre-commit
  package.json
Due: none

added huskyrc.json
  .husky/pre-commit
  .huskyrc.json
Due: none

restore husky directory
  .husky/pre-commit
  .huskyrc.json
  package.json
Due: none

added test files
  .husky/pre-push
  client/package.json
  client/test/index.test.ts
  client/tsconfig.json
  jest.config.js
  package.json
  server/package.json
  server/test/index.test.ts
  server/tsconfig.json
Due: npm run lint:fix:client, npm run lint:fix:server

removed lint-staged
  .husky/pre-commit
  .lintstagedrc.json
  client/.eslintrc.json
  client/package.json
  package.json
  server/package.json
Due: none

added executable permissions in pre-push
  .husky/pre-push
Due: none

added linter for test
  client/tsconfig.json
  server/.eslintrc.json
  server/.eslintrc.test.json
  server/package.json
  server/tsconfig.json
  server/tsconfig.test.json
  tsconfig.json
Due: none

added linter in client
  .husky/pre-commit
  .lintstagedrc.json
  client/tsconfig.json
  tsconfig.json
Due: none

added lint-staged, round 2
  .husky/pre-commit
  .lintstagedrc.json
Due: none

added project in .eslintrc.json
  server/.eslintrc.json
  server/.eslintrc.test.json
  server/package.json
Due: none

changed scripts for lint
  server/package.json
Due: none

added prettier commands
  package.json
Due: none

added prettier extension
  client/index.html
Due: none

added docker-compose with entrypoint for nodejs
  .fuse_hidden00029e8f00000004
  .prettierignore
  docker-compose.yml
  entrypoint.sh
Due: none

removed fuse-hidden
  .fuse_hidden00029e8f00000004
Due: none

added fusehidden in gitignore
  .gitignore
Due: none

added refactor in functions
  .eslintrc.json
  client/src/services/auth/index.ts
  server/requests/auth.http
  server/src/boot/websocket.ts
  server/src/config/server.ts
  server/src/controllers/auth.ts
  server/src/controllers/chat.ts
  server/src/controllers/user.ts
  server/src/index.ts
  server/src/middlewares/auth.ts
  server/src/middlewares/user.ts
  server/src/routes/api/auth/index.ts
  server/src/routes/api/chat/index.ts
  server/src/routes/api/chats/index.ts
  server/src/routes/api/users/index.ts
  server/src/utils/socket.ts
Due: npm run lint:fix:client, npm run lint:fix:server

added exception in prettierignore to http files
  .prettierignore
Due: none

added eslint file in client
  client/.eslintrc.json
  client/src/pages/error/index.tsx
  client/src/pages/home/index.tsx
  client/src/pages/room/index.tsx
  client/src/pages/room/theme.ts
  client/src/router/Router.tsx
Due: npm run lint:fix:client

removed grommet
  client/.eslintignore
  client/package.json
  client/postcss.config.cjs
  client/src/components/Footer/index.tsx
  client/src/components/Layout/index.tsx
  client/src/components/Logo/index.tsx
  client/src/components/NavBar/index.tsx
  client/src/components/Section/index.tsx
  client/src/components/SideBar/index.tsx
  client/src/components/SocialMedia/index.tsx
  client/src/components/Video/index.tsx
  client/src/components/index.ts
  client/src/index.css
  client/src/main.tsx
  client/src/pages/error/index.tsx
  client/src/pages/home/index.tsx
  client/src/pages/login/index.tsx
  client/src/pages/room/theme.ts
  client/src/router/Router.tsx
  client/tailwind.config.cjs
Due: npm run lint:fix:client

added material-tailwind
  client/package.json
  client/src/App.tsx
  client/src/assets/css/index.css
  client/src/assets/scss/main.scss
  client/src/components/NavBar/index.tsx
  client/src/components/index.ts
  client/src/layouts/index.ts
  client/src/layouts/main/index.module.scss
  client/src/layouts/main/index.tsx
  client/src/main.tsx
  client/src/pages/error/index.tsx
  client/src/pages/home/index.tsx
  client/src/pages/login/index.tsx
  client/src/pages/room/index.tsx
  client/src/router/Router.tsx
  client/tailwind.config.cjs
  client/tsconfig.json
Due: npm run lint:fix:client

added validate auth in server
  server/.eslintrc.json
  server/requests/auth.http
  server/src/controllers/auth.ts
  server/src/routes/api/auth/index.ts
Due: npm run lint:fix:server

added new styles
  .eslintignore
  .lintstagedrc.json
  client/package.json
  client/public/icon.svg
  client/src/App.tsx
  client/src/components/NavBar/index.tsx
  client/src/components/Spinner/index.module.scss
  client/src/contexts/auth.ts
  client/src/contexts/theme.ts
  client/src/layouts/main/index.module.scss
  client/src/layouts/main/index.tsx
  client/src/main.tsx
  client/src/middlewares/auth.tsx
  client/src/pages/login/index.tsx
  client/src/pages/register/index.tsx
  client/src/router/Router.tsx
  client/src/router/paths.ts
  client/src/services/auth/index.ts
  client/src/services/register/index.ts
  client/src/utils/theme.ts
  client/src/utils/token.ts
  client/tsconfig.json
Due: npm run lint:fix:client

added lint staged using first prettier and next eslint
  .prettierignore
Due: none

added paths in tsconfig
  client/src/components/Spinner/index.module.scss
  client/src/middlewares/auth.tsx
  client/src/pages/register/index.tsx
  client/src/router/Router.tsx
  client/tsconfig.json
Due: npm run lint:fix:client

added sidebar in menu
  client/package.json
  client/src/components/Footer/index.tsx
  client/src/components/NavBar/index.tsx
  client/src/components/SideBar/index.tsx
  client/src/layouts/main/index.module.scss
  client/src/layouts/main/index.tsx
  client/tailwind.config.cjs
Due: npm run lint:fix:client

added react-redux
  client/.eslintrc.json
  client/package.json
  client/src/App.tsx
  client/src/components/NavBar/index.tsx
  client/src/components/SideBar/index.tsx
  client/src/components/Spinner/index.module.scss
  client/src/components/Spinner/index.tsx
  client/src/components/Video/index.tsx
  client/src/layouts/main/index.tsx
  client/src/main.tsx
  client/src/middlewares/auth.tsx
  client/src/models/auth.ts
  client/src/models/index.ts
  client/src/models/user.ts
  client/src/pages/error/index.tsx
  client/src/pages/home/index.tsx
  client/src/pages/login/index.tsx
  client/src/pages/register/index.tsx
  client/src/pages/room/index.tsx
  client/src/redux/index.ts
  client/src/redux/states/auth.ts
  client/src/redux/states/index.ts
  client/src/redux/store.ts
  client/src/router/Router.tsx
  client/src/router/index.ts
  client/src/services/auth/index.ts
  client/src/services/peer/index.ts
  client/src/services/register/index.ts
  client/tsconfig.json
Due: npm run lint:fix:client

added websocket architecture
  server/src/boot/server.ts
  server/src/boot/websocket.ts
  server/src/events/index.ts
  server/src/events/ping/index.ts
  server/tsconfig.json
Due: npm run lint:fix:server

added websockets handlers
  client/src/components/SideBar/index.tsx
  client/src/components/Video/index.tsx
  client/src/services/websocket/index.ts
  client/src/utils/connection.ts
  client/src/utils/index.ts
Due: npm run lint:fix:client

added login page
  client/src/assets/images/login.svg
  client/src/pages/login/Login.tsx
  client/src/router/Router.tsx
Due: npm run lint:fix:client

added peer server
  client/.eslintrc.json
  client/src/components/SideBar/index.tsx
  client/src/services/peer/index.ts
  server/src/boot/server.ts
  server/src/index.ts
Due: npm run lint:fix:client, npm run lint:fix:server

added font virgil
  .prettierignore
  client/public/fonts/Virgil.woff2
  client/src/assets/css/index.css
  client/src/components/SideBar/index.tsx
  client/src/utils/connection.ts
  server/src/events/connect-user/index.ts
  server/src/events/disconnect-user/index.ts
Due: npm run lint:fix:client, npm run lint:fix:server

added events to load p2p users
  client/src/assets/css/index.css
  client/src/components/Footer/index.tsx
  client/src/components/SideBar/index.tsx
  server/package.json
  server/src/boot/app.ts
  server/src/boot/websocket.ts
  server/src/config/server.ts
  server/src/config/sql/connection.ts
  server/src/events/connect-user/index.ts
  server/src/events/disconnect-user/index.ts
  server/src/events/disconnect/index.ts
  server/src/events/load-user/index.ts
  server/src/models/sql/sessions.ts
  server/src/types/socket.ts
  server/tsconfig.json
Due: npm run lint:fix:client, npm run lint:fix:server

added hook for connection
  client/src/components/SideBar/index.tsx
  client/src/redux/index.ts
  client/src/redux/states/auth.ts
  client/src/redux/states/index.ts
  client/src/redux/store.ts
  server/src/events/disconnect/index.ts
  server/src/events/load-user/index.ts
  server/src/models/sql/sessions.ts
Due: npm run lint:fix:client, npm run lint:fix:server

added hook for connection
  client/src/hooks/useConection.ts
  client/src/models/connection.ts
  client/src/redux/states/connection.ts
Due: npm run lint:fix:client

added correct peer id users
  client/src/components/SideBar/index.tsx
  client/src/hooks/useConection.ts
  client/src/models/connection.ts
  client/src/redux/states/connection.ts
  client/src/redux/store.ts
  client/src/utils/connection.ts
  server/src/boot/server.ts
  server/src/boot/websocket.ts
  server/src/events/disconnect/index.ts
  server/src/events/load-user/index.ts
  server/src/events/ping/index.ts
  server/src/events/update/index.ts
  server/src/models/sql/peer.ts
Due: npm run lint:fix:client, npm run lint:fix:server

added websocketID
  client/src/components/SideBar/index.tsx
  client/src/hooks/useConection.ts
Due: npm run lint:fix:client

added websocketID
  client/src/redux/states/connection.ts
Due: npm run lint:fix:client
